<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

</head>
<body>
<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				Blogs
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ><a href="blogs">Home</a></li>
					<li class="active">
					  <a href="./createblog">Create Blog</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
			<span th:utext="${successMessage}"></span>
				<form autocomplete="off" action="#" th:action="@{/saveblog}"
					th:object="${blog}" method="post" class="form-horizontal"
					role="form">
					<h2>Write your Blog</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
								class="validation-message"></label>
						<input type="text" th:field="*{title}" 
								class="form-control" /> 
								
								<input type="hidden" th:field="*{id}" 
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
								class="validation-message"></label>
							<textarea id="body1" th:field="*{body}" 
								 class="form-control" ></textarea> 
						</div>
					</div>
					

					<div class="form-group">
						<div class="col-sm-3">
							<button type="submit" class="btn btn-primary btn-block">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
	new SimpleMDE({
		element: document.getElementById("body1"),
		spellChecker: false,
	});
	
	</script>
</body>
</html>