<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Blogs</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/create">Create Blog</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<!-- Blog Entries Column -->
            <div class="col-md-12">

                <!-- First Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p><span class="glyphicon glyphicon-time"></span> Posted by Start Bootstrap on August 28, 2013 at 10:00 PM</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                
                
                <hr>
                <form autocomplete="off" action="#" th:action="@{/savecomment}"
					th:object="${comments}" method="post" class="form-horizontal"
					role="form">
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"
								class="validation-message"></label>
							<textarea id="comment" th:field="*{comment}" 
								placeholder="Leave comments ..." class="form-control" ></textarea> 
						</div>
					</div>
					

					<div class="form-group">
						<div class="col-sm-3">
							<button type="submit" class="btn btn-primary btn-block">Save Comment</button>
						</div>
					</div>
				</form>
				<hr>
				<h4>Comments</h4>
				<div class="col-sm-9">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, 
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi 
                corrupti debitis ipsum officiis rerum.</p>
                </div>
				</div>
		</div> <!-- row -->
	</div> <!-- container -->

</body>
</html>