<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My Blog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="/js/marked.js"  th:scr="@{/js/marked.js}"></script> 
</head>
<body>
<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Blogs</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/create">Create Blog</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<!-- Blog Entries Column -->
            <div class="col-md-12">

                <!-- First Blog Post -->
                <h2 th:text="${blog.title}">
                    Blog Post Title
                </h2>
                 <p th:text = "'Posted by '+${blog.user.name} + ' on ' +${blog.createDate} "><span class="glyphicon glyphicon-time"></span> Posted by Start Bootstrap on August 28, 2013 at 10:00 PM</p>
                <p th:id="bodyContent">Some sample text.</p>
                 <script th:inline="javascript">
                 /*<![CDATA[*/
                 var bdy = /*[[${blog.body}]]*/
                 document.getElementById("bodyContent").innerHTML = marked(bdy);
                </script>
                
                
                <hr>
                <form autocomplete="off" action="#" th:action="@{/savecomment}"
					th:object="${newComments}" method="post" class="form-horizontal"
					role="form">
					<div class="form-group">
						<div class="col-sm-9">
						<input type="hidden" name = "blogId" th:value="${blog.id}"/>
						<label	th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"
								class="validation-message"></label>
							<textarea id="comment" th:field="*{comment}" 
								placeholder="Leave comments ..." class="form-control" ></textarea> 
						</div>
					</div>
					

					<div class="form-group">
						<div class="col-sm-3">
							<button type="submit" class="btn btn-primary btn-block">Save Comment</button>
						</div>
					</div>
				</form>
				<hr>
				<h4>Comments</h4>
					<div class="col-sm-9">
					<span th:each="comts : ${blog.comments}">
					<p th:text ="${comts.comment}">Comment.</p>
	                <hr>
	                </span>
	                
	                </div>
				</div>
		</div> <!-- row -->
	</div> <!-- container -->

</body>
</html>